<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<title>Welcome</title>

</head>
<body class="bg-black">


	<div class="text-white bg-black h-screen text-center flex flex-col p-6 space-y-6 overflow-hidden">

		<div class="my-auto">
			<p class="text-7xl"> Select Service </p>
		</div>
		
		<div id="list" class="max-w-5xl h-full w-full mx-auto flex flex-col space-y-6 text-xl"></div>

	</div>
</body>
</html>

<script type="text/javascript">
	
	let services = <%- JSON.stringify(services) %>

	for ( let service of services ){
		let a = document.createElement('a');
		a.setAttribute('href',service.url);
		a.innerHTML = service.name;
		document.getElementById('list').appendChild(a);
	}

</script>