<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<title>Welcome</title>

</head>
<body class="bg-black">



	<div class="text-white bg-black h-screen text-center flex flex-col p-6 space-y-6 overflow-hidden">

		<div>
			<p class="text-7xl"> Welcome Home </p>
			<p class="text-2xl"> Select Your App </p>
		</div>
		

		<div class="max-w-5xl h-full w-full mx-auto">

			<div class="grid grid-cols-3 gap-6 h-full">

				<div onclick="location.href = 'https://google.com' " class="border border-black rounded hover:scale-105 transition ease-in-out bg-blue-400 cursor-pointer"></div>

				<div onclick="location.href = 'https://google.com' " class="border border-black rounded  hover:scale-105 transition ease-in-out bg-green-400"></div>

				<div onclick="location.href = 'https://google.com' " class="border border-black rounded  hover:scale-105 transition ease-in-out bg-red-400 cursor-pointer">

				</div>

				<div onclick="location.href = 'https://google.com' " class="border border-black rounded  hover:scale-105 transition ease-in-out bg-orange-400 cursor-pointer"></div>

				<div onclick="location.href = 'https://google.com' " class="border border-black rounded  hover:scale-105 transition ease-in-out bg-pink-400 cursor-pointer"></div>

				<div onclick="location.href = 'https://google.com' " class="border border-black rounded  hover:scale-105 transition ease-in-out bg-yellow-400 cursor-pointer">

				</div>

			</div>
		</div>

	</div>
</body>
</html>